body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  background-color: rgb(89, 17, 17);
}

.heading {
  font-size: 2.5rem;
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(image/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.display_card {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  width: 100%;
  height: 100vh;
  gap: 2rem;
  justify-content: space-between;
}

.displayScore {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: auto;
  padding-bottom: 30px;
  max-height: 700px;
  gap: 1.5rem;
  margin-top: 70px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.8));
  background-color: rgba(255, 255, 255, 0.6);
}

#div_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(89, 17, 17);
}

#div_2 {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#div_2::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.recent_scores {
  color: #fff;
  margin-left: 1rem;
}

.refresh_btn {
  background-color: #fff;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: rgb(89, 17, 17);
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.refresh_btn:hover {
  font-weight: 700;
  font-size: 1.04rem;
}

.table_item {
  width: 100%;
  height: auto;
  color: rgb(89, 17, 17);
  max-height: 1000px;
  border: 3px solid rgb(89, 17, 17);
  border-collapse: collapse;
  overflow: scroll;
}

.table_item tr:nth-child(even) {
  background-color: #c2c2c2;
}

.table_item tr td {
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.table_item tr:hover {
  background-color: rgb(89, 17, 17);
  color: #fff;
}

.inputScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1rem;
  margin-top: 70px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  border: 2px solid rgb(255, 255, 255);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.8));
}

.add_scores_text_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  color: #fff;
  background-color: rgb(89, 17, 17);
}

.input_header_text {
  font-size: 2rem;
}

input {
  width: 95%;
  height: 40px;
  border-radius: 5px;
  border-width: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  font-size: 1rem;
  border-color: rgb(89, 17, 17);
}

.btn-submit {
  width: 97%;
  height: 45px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 2rem;
  background-color: rgb(89, 17, 17);
}

.btn-submit:hover {
  font-weight: 700;
  font-size: 1.1rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(89, 17, 17);
}

.footer_text {
  color: #fff;
}
